.field-error {
	margin-top: -15px;
}

.has-error .form-control::-webkit-input-placeholder {
	color: #a94442;
} 
.has-error .form-control:-moz-placeholder {
	color: #a94442;
}
.has-error .form-control::-moz-placeholder {
	color: #a94442;
}
.has-error .form-control:-ms-input-placeholder {
	color: #a94442;
}

.page-content {
	margin-bottom: 25px;
}

.nav-breadcrumb {
	margin-bottom: 0; 
	background-color: inherit; 
	padding-top: 15px; 
	padding-bottom: 15px;
}

@media(max-width: 480px) {
	.navbar-signout {
		margin-top: 0;
		margin-bottom: 0;
		border: none;
	}

	.nav-breadcrumb {
		padding-left: 0;
	}
}

@media(max-width: 599px) {
	.nav-breadcrumb {
		display: none;
		border: none;
	}
}

.btn-spc-rt {
	margin-right: 5px;
}

.btn-glyph {
	margin-left:8px;
}

.btn-text-field {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	cursor: pointer;
}

.btn-text-field:hover {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn-list-remove {
	color: #d78d9d;
	background-color: #fff;
	border: none;
}

.glyphicon-add-list:before {
	content: "\2b\e032"
}
.glyphicon-add-list {
	font-size: 13px;
}

.sidenav-title, .sidenav-icon {
	color: #555;
}

.sidenav-icon {
	margin-right: 10px;
	top: 2px;
}

@media (min-width: 480px) {
	.sidenav > .sidenav-item {
		float:none;
	}

	.sidenav-item + .sidenav-item{
		margin-top: 2px;
		margin-left: 0;
	}

	.sidenav {
		min-width: 147px;
	}
}

@media (max-width: 480px) {
	.sidenav {
		margin-bottom: 10px;
	}

	.sidebar {
		padding: 0;
		width: 100%;
	}

	.sidenav-item {
		font-size: 13px;
	}
}

.btn-group-borderless button {
	border: none;
}

.expand-feed .glyphicon {
	line-height: 1.4;
}

.feed-item {
	margin: 8px 0;
}

.story-item--title, .feed-item--name {
	text-align: left;
	margin-bottom: 0;
}

.feed-item--btn-bar {
	padding: 0;
	margin-top: 5px;
}

.feed-item--title-btn {
	margin-top: 8px;
	margin-right: 10px;
}

.story-item {
	border:none;
}

.pin-theme {
	border: none;
	border-bottom: 2px dashed;
	white-space: normal;
	border-radius: 0;
	padding-bottom: 4px;
}

.story-item {
	padding: 0;
	margin-top: 10px;
}

.story-item--icon {
	margin-top: 14px;
}

.pin-color-input {
	width: 40px;
	padding: 2px 4px;
}

.welcome-msg {
	text-align: center;
}
@media (max-width: 480px) {
	.welcome-image {
		margin-left: 25%;
		margin-top: 10px;
	}
}
