<li class="feedlist-item"> 
	<p>
	<button class="btn btn-list-remove">
	<span class="glyphicon glyphicon-remove"></span>
	</button>
	<a href="lists/{{ id }}" class="feedlist-item--name btn btn-default">{{ name }}</a>	
	</p>
	<input type="hidden" value="{{ id }}" class="feedlist-item--id">
</li>