<div class="pin-form">
	<div class="form-group">
		<label for="pin-name" class="control-label"> Display Name </label>
		<input type="text" id="pin-name" name="name" value="{{ name }}" class="form-control">
	</div>
	<div class="form-group">
		<label for="pin-color" class="control-label"> Color </label>
		<input type="color" id="pin-color" name="color" value="{{ color }}" class="form-control pin-color-input">
	</div>	
</div>