<div class="feed-item col-md-10 col-md-offset-1">
	<p>
		<a href="{{ link }}"> {{{ name }}} </a> 
		<br><small> {{{ snippet }}} <small>
	</p>
	<div class="btn-group btn-group-borderless">
		<button class="btn btn-default btn-md" data-usr-action="addlist">
			<span class="glyphicon glyphicon-add-list"></span>
			<span class="sr-only">Add to list</span>
		</button>
		<button class="btn btn-default btn-md" data-usr-action="pin">
			<span class="glyphicon glyphicon-pushpin"></span>
			<span class="sr-only">Pin</span>
		</button>
	</div<	
</div>