<a href="{{ link }}" target="_blank" class="story-item btn btn-default row col-xs-12 col-md-10 col-lg-9">
	<h5 class="story-item--title pin-theme col-xs-10 col-md-11" style="border-color:{{pin.color}};">
		{{ title }}
		<br> <small> {{ publishedDate }} </small>
	</h5>
	<div class="col-xs-2 col-md-1 story-item--icon">
		<span class="glyphicon glyphicon-chevron-right"></span>	
	</div>	
</a>
